html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--min-dark-purple);
  color: var(--min-light-yellow);
  font-family: var(--font-one);
}

#about-me {
  background-color: var(--min-turquoise);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  /* margin-bottom: 0; */
}

#about-me h1 {
  color: var(--min-white);
  margin-bottom: 0;
}

#piano-icon {
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 20%;
}

#projects {
  background-color: var(--min-turquoise);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  /* margin-bottom: 0; */
}

#projects h1 {
  color: var(--min-white);
  margin-bottom: 0;
}

#contact {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #0a17ea;
}

#contact h1 {
  color: var(--min-white);
  margin-bottom: 0;
}

#resources {
  background-color: var(--min-orange);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#resources h1 {
  color: var(--min-white);
  margin-bottom: 0;
}

#links {
  background-color: #202020;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#links h1 {
  color: var(--min-white);
  margin-bottom: 0;
}

h3 a {
  color: #006eff;
  text-decoration: none;
  transition: 0.1s;
}

h3 a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: var(--min-bright-purple);
  text-shadow: 1px 1px 1px #202020;
  text-shadow: 2px 2px 3px #202020;
}

p a {
  color: var(--min-light-yellow);
  text-decoration: none;
  transition: 0.1s;
}

p a:hover {
  text-decoration: none;
  transition: 0.2s;
  color: var(--min-bright-purple);
  text-shadow: 1px 1px 1px #202020;
  text-shadow: 2px 2px 3px #202020;
}