#footer {
  background-color: var(--min-black);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: #999999;
}

#footer a {
  color: #999999;
  text-decoration: none;
  transition: 0.1s;
}

#footer a:hover {
  color: #be3f57;
  transition: 0.3s;
}

#sub-footer {
  background-color: black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#sub-footer h6 {
  margin-bottom: 0;
}

#cr {
  color: lime;
  font-weight: 900;
}

.webdev-link {
  color: lime;
  font-weight: 900;
  transition: 0.1s;
  text-decoration: none;
}

.webdevlink:hover {
  color: #be3f57;
  transition: 0.2s;
  text-decoration: none;
  /* font-size: 1.1rem; */
}
.webdev-link {
  color: lime;
  font-weight: 900;
  transition: 0.1s;
  text-decoration: none;
}

.webdevlink:hover {
  color: #be3f57;
  transition: 0.2s;
  text-decoration: none;
  /* font-size: 1.1rem; */
}
.webdev-link {
  color: lime;
  font-weight: 900;
  transition: 0.1s;
  text-decoration: none;
}

#modal-close-top {
  /* color: #faee9e; */
  text-shadow: none;
  font-size: 16px;
}

.modal-content {
  /* background-color: #17232a; */
  background-color: var(--min-purple);
  border-radius: 20px;
  /* font-family: "Montserrat", sans-serif; */
}

.modal-footer,
.modal-header {
  border: none;
}
