.jumbotron {
  color: var(--min-bright-purple);
  background: url("../assets/jumbotron-bg-1.jpg") no-repeat center;
  background-size: cover;
  background-color: var(--min-purple);
  background-blend-mode: saturation;
  /* backdrop-filter does not seem to work */
  /* backdrop-filter: blur(2px); */
  text-align: center;
  margin-bottom: 0;
  height: 120vh;
}

.text-bg-1 {
  /* background-color: rgb(28, 35, 74, 0.8); */
  background-image: linear-gradient(
    to left,
    rgba(28, 35, 74, 0),
    rgba(28, 35, 74, 1)
  );
  padding: 4px 3rem;
  border-radius: 7px 0 0 40px;
  color: var(--min-bright-yellow);
  /* width: max-content; */
  /* transition: 0.1s; */
  transition: 1.5s;
  opacity: 0.9;
}

.text-bg-1:hover {
  opacity: 1;
  transition: 1.5s;
  color: rgb(0, 247, 255);
  font-size: 1.5rem;
}

.text-bg-2 {
  /* background-color: rgb(18, 18, 18, 0.8); */
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  padding: 1rem 4rem;
  border-radius: 0 1rem 9rem 0;
  /* width: max-content; */
  /* background-color: rgb(28, 35, 74, 0.8); */
  transition: 1.5s;
}

.text-bg-2:hover {
  transition: 2s;
  color: crimson;
  font-size: 1.5rem;
}

.text-bg-3 {
  /* background-color: rgb(18, 18, 18, 0.8); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4)
  );
  padding: 0.4rem 2rem;
  border-radius: 1rem 1rem 7rem 7rem;
  font-size: 2rem;
  transition: 2.5s;
  opacity: 0.4;
}

.text-bg-3:hover {
  /* background-color: rgb(18, 18, 18, 0.8); */
  border-radius: 1rem 1rem 7rem 7rem;
  font-size: 3rem;
  opacity: 0.8;
  transition: 1.5s;
  color: lightgreen;
}

.text-bg-4 {
  /* background-color: rgb(18, 18, 18, 0.8); */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4)
  );
  padding: 1rem 1rem 0 1rem;
  border-radius: 3rem 3rem 7rem 7rem;
}

#land-greet-arrow {
  opacity: 0.3;
  transition: 2s;
}

#land-greet-arrow a {
  opacity: 0.3;
  transition: 1.5s;
  color: var(--min-bright-purple);
}

#land-greet-arrow:hover {
  opacity: 0.9;
  transition: 1.5s;
}

#land-greet-arrow a:hover {
    font-size: 2.5rem;
  opacity: 0.9;
  transition: 1.5s;
  color: lime;
  cursor: pointer;
}
