#nav-content {
  margin-left: auto;
}

#override-navlink {
  transition: 0.1s;
}

#override-navlink:hover {
  color: cyan;
  transition: 0.3s;
  font-weight: 900;
}

.navbar-brand img {
  padding: 0;
}

#override-nav-bg {
  background-color: var(--min-dark-purple);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}
