:root {
  --min-black: #121212;
  --min-gray: #39393d33;
  --min-dark-purple: #19101b;
  --min-purple: #29202b;
  --min-bright-purple: #fd14f4;
  --min-dark-blue: #13121a;
  --min-blue: #1c234a;
  --min-dark-blue: #0c0f3e66;
  --min-turquoise: #07242d;
  --min-yellow: #ecc056;
  --min-bright-yellow: #ffc954;
  --min-light-yellow: #eec76d;
  --min-orange: #bb6208;
  --min-white: #f8fafb;
  --min-white-body: #f9f6f7;

  --font-one: "Montserrat", sans-serif;
  --font-two: "Roboto Slab", serif;
}
